.img{
      border: blue;
      border-radius: 10%;
  }
 

  body {
    background-color: rgb(156, 156, 156);
   
    
      
  }
  #grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
    "content image";}

   /* body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }
    
      .header {
        padding: 60px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 30px;
      }*/